.lightbox {
  background: rgba(0,0,0,0.8);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.lightbox .inner-lightbox {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.lightbox .inner-lightbox img {
  width: 80%;
}

.lightbox .inner-lightbox .image-details {
  bottom: 20%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.lightbox .inner-lightbox .image-details span {
  font-size: 10pt;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
